* {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c2c9d2;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.nav {
    margin: 0px 30px;
}

.card {
    width: 400px;
    min-height: 300px;
    /* min-width: 200px; */
    background-color: rgb(243, 243, 243);
    margin: 50px;
    border-radius: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-bottom: 15px;
}

.card>.head {
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    margin: 15px;
}

.submitbt {
    width: 65% !important;
    border: 1px hsl(0, 0%, 70%) solid !important;
    background-color: hsl(0, 0%, 80%)!important;
}

.content {
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* max-height: 75vh; */
    /* min-height: 50vh; */
    height: 62vh;
}

.card .cardlist,
.card .content .cardlist {
    cursor: pointer;
    margin: 1rem;
    background-color: hsl(0, 0%, 90%);
    width: 90%;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    border-radius: 20px;
    border: 1px hsl(0, 0%, 87%) solid;
    transition: all 0.4s ease;
}

.card>.cardlist:hover,
.card>.content>.cardlist:hover {
    box-shadow: 3px 5px 7px rgb(193, 193, 193);
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.card>.content>.cardlist>div>input,
.card>.content>.cardlist>input {
    padding: 0px 10px;
    height: 70%;
    border: 0px solid black;
    border-radius: 10px;
}