.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.nav {
    margin: 0px 30px;
}

.card {
    width: 400px;
    min-height: 300px;
    /* min-width: 200px; */
    background-color: rgb(243, 243, 243);
    margin: 50px;
    border-radius: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-bottom: 15px;
}

.card>.head {
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    margin: 15px;
}

.submitbt {
    width: 65% !important;
    border: 1px hsl(0, 0%, 70%) solid !important;
    background-color: hsl(0, 0%, 80%)!important;
}

.card .cardlist {
    cursor: pointer;
    margin: 1rem;
    background-color: hsl(0, 0%, 90%);
    width: 90%;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    border-radius: 20px;
    border: 1px hsl(0, 0%, 87%) solid;
    transition: all 0.4s ease;
}

.card>.cardlist:hover {
    box-shadow: 3px 5px 7px rgb(193, 193, 193);
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.card>.cardlist>input {
    padding: 0px 10px;
    height: 70%;
    border: 0px solid black;
    border-radius: 10px;
}