body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.main {
    width: 500px;
    height: 500px;
    background-color: red;
    border-radius: 20px;
}

.headder {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.signin {
    background-color: blue;
}

.signup {
    background-color: violet;
}